.panel{
    height:30px;
    background: linear-gradient(#A1A1A1, #404040);
    color:white;
}

.welcome{
    float:left;
    display:inline-block;
    padding:5px;
}

.logout{
    float:right;
}

.logout ul{
    margin:0;
    display:inline-block;
}

.logout ul li{
    display: inline-block;
    padding:5px;
}

.logout ul li a{
    text-decoration: none;
}

.logout ul li:hover{
    background: linear-gradient(#818181, #333333);
    height:20px;
}

.logout_btn{
    float:right;
}

.c_submit{
    border:none;
    background: none;
    color:white;
    font-weight: bold;
    cursor: pointer;
}

