body {
    margin-top: 0px;
    font-family: Lato;
    font-size: 14px;
    color: #444;
}
 
.basic-grey {
    clear:both;
    margin-top:65px;
    max-width: 1000px;;
    background-color: white;
    box-shadow: 10px 15px 15px #CCCCCC;
    -moz-box-shadow: 10px 15px 15px #CCCCCC;
    -webkit-box-shadow: 10px 15px 15px #CCCCCC;
    -o-box-shadow: 10px 15px 15px #CCCCCC;
    color:black;
 }
      
.basic-grey h1 {
    font-size: 25px;
    padding: 10px;
    display: block;

}
  
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
      
hr{
  clear:both;
  margin:5px 10px 10px 10px;
  height:1px;
  border:0;
  border-bottom:1px solid lightgrey;
}

.basic-grey label {
    display: block;
    margin: 0px;
}

.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    white-space: nowrap;
    padding:10px;
}

.basic-grey input[type="text"],  .basic-grey input[type="date"],  .basic-grey input[type="password"],  .basic-grey input[type="number"], .basic-grey input[type="email"], .basic-grey input[type="phone"], .basic-grey textarea, .basic-grey select, input#name, #description, #customers {
    border: 1px solid #DADADA;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    font-family:Lato;
}

.basic-grey textarea{
    padding: 5px 3px 3px 5px;
    height:40px;
}


.basic-grey select {
    background: #FFF url('../images/down-arrow.png') no-repeat right;
    background-size: 20px;
    background-position-x: 99%;
    cursor:pointer;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}

.basic-grey .center {
  margin-left: 110px;
  margin-right: auto;
  width: 70%;
}
      
.basic-grey .warning {
  color: #CC0000;
  font-size: 11px;
}
      
.basic-grey .confirmation {
  color: #009900;
  font-size: 11px;
}

.buttons{
    display:inline-block;
    margin:5px 0 45px 10px;;
    width:1000px;
}

.button{
    width:132px;
    margin:0 auto;
}

.btn_submit{
    background: linear-gradient(#3399FF, #0066FF) !important;
    text-decoration: none;
    color:white;
    border-radius:2px;
    padding: 5px 10px 5px 10px;
    margin-right:5px;
    border:none;
    font-size:14px;
    font-weight:normal !important;
}

.btn_back{
    background: linear-gradient(#3399FF, #0066FF);
    text-decoration: none;
    color:white;
    border-radius:2px;
    padding: 4px 10px 5px 10px;
}
    
