body {
    margin-top: 0px;
    font-family: Lato;
    font-size: 14px;
    color: #444;
    width:1000px;
}

table {
    width: 100%;    
    font-size:14px;
    background:white;
    border-spacing: 0;
    border: 1px solid lightgrey;
    margin-top:10px;
    margin-bottom:20px;
}

.bordered {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 10px 15px 15px #CCCCCC;
    -moz-box-shadow: 10px 15px 15px #CCCCCC;
    -webkit-box-shadow: 10px 15px 15px #CCCCCC;
    -o-box-shadow: 10px 15px 15px #CCCCCC;
    
}

.bordered tr:hover {
    background: linear-gradient(#E6E6E6, #CCCCCC);
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;     
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}    
    
.bordered td {
    padding: 5px 2px 5px 2px;
    text-align: center;    
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    white-space: nowrap;
}

.bordered th {
    background: linear-gradient(#66CCFF, #0066FF);
    border-left: 1px solid lightskyblue;
    border-bottom: 1px solid lightskyblue;
    color:white;
    padding: 5px 2px 5px 2px;
    text-align: center;    
    white-space: nowrap;
}

.th{
    border-left:none !important;
}

.th:first-child{
    
    border-right: 1px solid lightskyblue !important;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

button{
    text-align: center;
    font-family:Lato;
    font-size:12px;
    background: linear-gradient(#3399FF, #0066FF);
    text-decoration: none;
    color:white;
    border:none;
    border-radius:5px;
    padding: 5px 8px 5px 8px;
    cursor:pointer;
    white-space: nowrap;
}

.edit{
  background: url("../images/edit.png") no-repeat; 
  background-size: 20px;
  background-position: center;
  width:30px;
  height:30px;
  padding:0;
    
}

.delete{
  background-image: url("../images/delete.jpg");

  background-size: 30px;
  background-position: center;
  width:18px;
  height:18px;
  margin:5px;
  padding:0;
  border-radius: 50%;
}


