@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	font-family: Lato;
	background-color: #e2e2e2;
                margin:0 auto;
                width:1000px;
                font-size:14px;
}
	
h1 {
	font-family:Lato;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
                text-align: center;
	}

#nav {
	float: left;
	width: 100%;
	margin-bottom: 10px;
                background: linear-gradient(#66CCFF, #0066FF);
                list-style: none;
                padding:0;
	}
 
#nav li { 
	float: left;
	margin: 0;
	padding: 0;
                border-right: 1px solid lightskyblue;
}
        
#nav li:last-child{
                border-right:none;
}        

#nav a {
	float: left;
	display: block;
	padding: 6px 20px 6px 20px;
	text-decoration: none;
                text-align:center;	
                font-weight: bold;
	font-size: 90%;
	color: white;
	background: linear-gradient(#66CCFF, #0066FF);
              }

#nav li a:hover {
	background: linear-gradient(#00CCFF, #0066CC);
                -webkit-transform: scale(1.1, 1.1);
                -moz-transform: scale(1.1, 1.1);
                -o-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1);
    }
