body{
    font-size:14px;
}

.wrapper{
    font-family:Lato;
    clear:both;
    width:400px;
    background-color: white;
    box-shadow: 10px 15px 15px #CCCCCC;
    -moz-box-shadow: 10px 15px 15px #CCCCCC;
    -webkit-box-shadow: 10px 15px 15px #CCCCCC;
    -o-box-shadow: 10px 15px 15px #CCCCCC;
    margin-left:25px;
    margin-top: 65px;
}

.profile{
    margin:0 auto;
    width:95%;
}

.title{
    float:left;
}

.title h1{
    text-align: left;
}

.header{
    padding-top:10px;
}

.header h1{
    font-family:Lato;
    padding:10px 0 0 10px;
    margin-bottom:10px;
    font-size:24px;
}

.header span{
    padding:10px 0 15px 10px;
    font-weight: bold;
    width:200px;
} 

.avatar{
    background: url("../images/avatar.jpg");
    background-size: 60px 60px;
    float:right;
    margin:10px 10px 10px 0;
    width:60px;
    height:60px;
}

hr{
    clear:both;
    margin:5px 10px 0 10px;
    height:1px;
    border:0;
    border-bottom:1px solid lightgrey;
}

.wrapper label{
    display:inline-block;
    margin:10px 10px 0 10px;
    width:350px;
}

.wrapper label>span{
    float:left;
    width:40%;
    height:25px;
    position: relative;
    top: 50%;
    transform: translateY(-1%);
    text-align: right;
}

input[type="text"], input[type="password"]{
    margin-left: 5px;
    border:1px solid #A2A2A2;
    border-radius: 2px;
    height: 25px;
    padding-left:5px;
    font-family:Lato;
    color:grey;
}

.buttons{
    display:inline-block;
    margin:35px 0 45px 10px;;
    width:350px;
}

.button{
    width:132px;
    margin:0 auto;
}

.btn_submit{
    background: linear-gradient(#3399FF, #0066FF) !important;
    text-decoration: none;
    color:white;
    border-radius:2px;
    padding: 5px 10px 5px 10px;
    margin-right:5px;
    border:none;
    font-size:14px;
    font-weight:normal !important;
}

.btn_back{
    background: linear-gradient(#3399FF, #0066FF);
    text-decoration: none;
    color:white;
    border-radius:2px;
    padding: 4px 10px 5px 10px;
}